@import "tailwindcss";

/* https://m3.material.io/styles/color/roles */

@media (prefers-color-scheme: light) {
  :root {
    --primary: #675496;
    --on-primary: #ffffff;
    --primary-container: #c8b3fd;
    --on-primary-container: #4e3b7b;

    --secondary: #5d5d72;
    --on-secondary: #ffffff;
    --secondary-container: #e2e0f9;
    --on-secondary-container: #444559;

    --tertiary: #86468c;
    --on-tertiary: #ffffff;
    --tertiary-container: #fbaffe;
    --on-tertiary-container: #6b2d72;

    --error: #ba1a1a;
    --on-error: #ffffff;
    --error-container: #ffdad6;
    --on-error-container: #7d2b25;

    --surface-dim: #ded8e0;
    --surface: #fef7ff;
    --surface-bright: #fef7ff;
    --on-surface: #1d1b20;
    --on-surface-variant: #49454e;

    --surface-container-lowest: #fef7ff;
    --surface-container-low: #f7f2f9;
    --surface-container: #f1ecf3;
    --surface-container-high: #ebe6ee;
    --surface-container-highest: #e5e0e8;

    --inverse-surface: #322f35;
    --inverse-on-surface: #f5eff7;
    --inverse-primary: #d0bcfe;

    --outline: #7a757f;
    --outline-variant: #cac4cf;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #d0bcfe;
    --on-primary: #381e72;
    --primary-container: #4f378b;
    --on-primary-container: #eaddff;

    --secondary: #ccc2dc;
    --on-secondary: #332d41;
    --secondary-container: #4a4458;
    --on-secondary-container: #e8def8;

    --tertiary: #efb8c8;
    --on-tertiary: #492532;
    --tertiary-container: #633b48;
    --on-tertiary-container: #ffd8e4;

    --error: #f2b8b5;
    --on-error: #601410;
    --error-container: #8c1d18;
    --on-error-container: #f9dedc;

    --surface-dim: #141218;
    --surface: #141218;
    --surface-bright: #3b383e;
    --on-surface: #e6e0e9;
    --on-surface-variant: #cac4d0;

    --surface-container-lowest: #0f0d13;
    --surface-container-low: #1d1b20;
    --surface-container: #211f26;
    --surface-container-high: #2b2930;
    --surface-container-highest: #36343b;

    --inverse-surface: #e6e0e9;
    --inverse-on-surface: #322f35;
    --inverse-primary: #6750a4;

    --outline: #938f99;
    --outline-variant: #49454f;
  }
}

@theme inline {
  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);
  --color-primary-container: var(--primary-container);
  --color-on-primary-container: var(--on-primary-container);

  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);
  --color-secondary-container: var(--secondary-container);
  --color-on-secondary-container: var(--on-secondary-container);

  --color-tertiary: var(--tertiary);
  --color-on-tertiary: var(--on-tertiary);
  --color-tertiary-container: var(--tertiary-container);
  --color-on-tertiary-container: var(--on-tertiary-container);

  --color-error: var(--error);
  --color-on-error: var(--on-error);
  --color-error-container: var(--error-container);
  --color-on-error-container: var(--on-error-container);

  --color-surface-dim: var(--surface-dim);
  --color-surface: var(--surface);
  --color-surface-bright: var(--surface-bright);
  --color-on-surface: var(--on-surface);
  --color-on-surface-variant: var(--on-surface-variant);

  --color-surface-container-lowest: var(--surface-container-lowest);
  --color-surface-container-low: var(--surface-container-low);
  --color-surface-container: var(--surface-container);
  --color-surface-container-high: var(--surface-container-high);
  --color-surface-container-highest: var(--surface-container-highest);

  --color-inverse-surface: var(--inverse-surface);
  --color-inverse-on-surface: var(--inverse-on-surface);
  --color-inverse-primary: var(--inverse-primary);

  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-surface text-on-surface;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
